<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phishing Examples</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 16px;
      }
      body {
        font-family: "Montserrat", sans-serif;
      }
      img {
        width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p class="mt-4">You receive the below email:</p>
      <img src="static/eg1.webp" />
      <br />
      <p class="mt-4">
        And when you click the link attached to the email, you are redirected to
        the below page:
      </p>
      <img src="static/eg2.webp" />
      <p class="mt-4">
        Note that the domain name of the above page's URL is different than the
        one in title (facebook).
      </p>
      <p class="mt-4">
        Many users unwittingly click phishing domains every day and every hour.
        The attackers are targeting both the users and the companies. In 2023,
        phishing incidents represented 36% of all cybersecurity threats,
        underscoring their prevalence in the digital landscape. Notably, 69% of
        organizations faced phishing attacks that led to data breaches or
        financial losses, with the average cost of such an attack estimated at
        $4.5 million.
      </p>
    </div>
  </body>
</html>
